
<div class="row">
    <div class="col-md-12">
        <div class="well well-sm bg-color-darken txt-color-white">
            <h5>@Resources.Language.Select_a_date_range</h5>
            <fieldset>
                
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control from" type="text" placeholder="@Resources.Language.From">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control to" type="text" placeholder="@Resources.Language.To">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 hidden-sm">
                        <a href="javascript:void(0)" class="btn btn-xs btn-info dateselect" onclick="setDateRange(1)">@Resources.Language.This_Week</a>
                        <a href="javascript:void(0)" class="btn btn-xs btn-info dateselect" onclick="setDateRange(2)">@Resources.Language.Last_Week</a>
                        <a href="javascript:void(0)" class="btn btn-xs btn-info dateselect" onclick="setDateRange(3)">@Resources.Language.This_Month</a>
                        <a href="javascript:void(0)" class="btn btn-xs btn-info dateselect" onclick="setDateRange(4)">@Resources.Language.Last_Month</a>
                        <a href="javascript:void(0)" class="btn btn-xs btn-info dateselect" onclick="setDateRange(5)">@Resources.Language.This_Year</a>
                        <a href="javascript:void(0)" class="btn btn-xs btn-info dateselect" onclick="setDateRange(6)">@Resources.Language.Last_Year</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-12">
                        <a href="javascript:void(0)" class="btn btn-success" id="dateRangeBtn"><i class="fa fa-check"></i> @Resources.Language.Get_Report</a>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</div>

