<div id="content">
    <div class="row ">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-th"></i>
                @Resources.Language.Asset_Types <span>
                    >
                    @Resources.Language.New_Asset_Type
                </span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="alert alert-warning fade in">
                <button class="close" data-dismiss="alert">
                    ×
                </button>
                <i class="fa-fw fa fa-warning"></i>
                <strong>@Resources.Language.Note</strong> @Resources.Language.Need_To_Create
            </div>
            <form id="checkout-form" class="smart-form" novalidate="novalidate">

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label>@Resources.Language.Asset_Description</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-pencil-square-o"></i>
                                <input type="text" name="description" id="description" placeholder="@Resources.Language.Description" class="invalid">
                            </label>

                        </section>
                        <section class="col col-6">
                            <label>@Resources.Language.Manufacturer</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-industry"></i>
                                <input type="text" name="manufacturer" id="manufacturer" placeholder="@Resources.Language.Manufacturer" class="invalid">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label>@Resources.Language.Model</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-cube"></i>
                                <input type="text" name="model" id="model" placeholder="@Resources.Language.Model" class="invalid">
                            </label>
                        </section>

                        <section class="col col-6">
                            <label>@Resources.Language.Web_Reference</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-globe"></i>
                                <input type="url" name="manualUrl" id="manualUrl" placeholder="Manual Reference" class="invalid">
                            </label>
                            <div class="note">
                                <strong>@Resources.Language.Note: </strong> @Resources.Language.Note_Url_Reference
                            </div>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label>@Resources.Language.Fixing_Points</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-wrench"></i>
                                <input type="text" name="fixingpoints" id="fixingpoints" placeholder="@Resources.Language.Fixing_Points" class="invalid">
                            </label>
                        </section>

                        <section class="col col-6">
                            <label>@Resources.Language.Asset_Picture</label>
                            <div id="assetPic" class="dd-container" style="display: none;"></div>
                            <img src="~/content/img/adb_img/adb_loader.gif" id="adbloader" style="zoom: 0.5;"/>
                            <div class="note">
                                <strong>@Resources.Language.Note</strong> @Resources.Language.Hint_Load_Images
                            </div>

                        </section>
                    </div>

                </fieldset>
                <footer>
                    <a class="btn btn-danger" id="backBtn"><i class="fa fa-arrow-left"></i> @Resources.Language.Go_Back</a>
                    <a id="createBtn" class="btn btn-success"><i class="fa fa-plus"></i> @Resources.Language.Add_Asset_Type</a>
                </footer>
            </form>
         
           
            <div class="row">
                <div class="col-md-12 text-align-right">
                    <img src="~/content/img/adb_img/adb_loader.gif" id="adbloader3" style="zoom:0.7; display:none;" />
                </div>
            </div>


        </div>
    </div>
</div>



@section pagespecific{
    <script src="~/scripts/plugin/ddslick/jquery.ddslick.min.js"></script>
    <script src="~/scripts/plugin/datatables/jquery.dataTables.min.js"></script>
    <script src="~/scripts/plugin/datatables/dataTables.colVis.min.js"></script>
    <script src="~/scripts/plugin/datatables/dataTables.tableTools.min.js"></script>
    <script src="~/scripts/plugin/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/scripts/plugin/datatable-responsive/datatables.responsive.min.js"></script>

    <script type="text/javascript">
        //Global variables
        $(document).ready(function () {

            //Get Available Pictures from Library
            $.ajax({
                url: "getPictures",
                type: "POST",
                dataType: "json",
                success: function (json) {
                    $('#assetPic').ddslick({
                        data: json,
                        width: 300,
                        height: 500,
                        imagePosition: "left",
                        selectText: "@Resources.Language.Select_Image",
                        onSelected: function (data) {
                            console.log(data);
                        }
                    });

                    $('#adbloader').fadeOut(500);
                },
                error: function (err) {
                    $.smallBox({
                        title: "Error Retrieving Pictures",
                        content: err.responseText,
                        color: "#f51414",
                        timeout: 5000,
                        icon: "fa fa-bell swing animated"
                    });
                    $('#adbloader').fadeOut(300);
                    $('#assetPic').fadeIn(500);
                }
            });

            //Listen for click event
            $('#createBtn').on('click', function () {
                createAssetClass();
            });

            //Listen for click event on back button
            $('#backBtn').on('click', function () {
                window.history.back();
            });
        });

        function createAssetClass(e) {
            $('#adbloader3').fadeIn(300);
            var flag = true;
            var assetPic = $('.dd-selected-value').val();
            var description = $('#description').val();
            var manufacturer = $('#manufacturer').val();
            var model = $('#model').val();
            var manualURL = $('#manualUrl').val();
            var fixingpoints = $('#fixingpoints').val();

            if (assetPic === "") {
                $.smallBox({
                    title: "@Resources.Language.No_Picture_Selected",
                    content: "<label></label>",
                    color: "#f51414",
                    timeout: 5000,
                    icon: "fa fa-bell swing animated"
                });
                flag = false;
            }

            if (description === "" && flag) {
                $.smallBox({
                    title: "@Resources.Language.No_Description",
                    content: "<label></label>",
                    color: "#f51414",
                    timeout: 5000,
                    icon: "fa fa-bell swing animated"
                });
                flag = false;
            }

            if (manufacturer === "" && flag) {
                $.smallBox({
                    title: "@Resources.Language.No_Manufacturer",
                    content: "<label></label>",
                    color: "#f51414",
                    timeout: 5000,
                    icon: "fa fa-bell swing animated"
                });
                flag = false;
            }

            if (model === "" && flag) {
                $.smallBox({
                    title: "@Resources.Language.No_Model",
                    content: "<label></label>",
                    color: "#f51414",
                    timeout: 5000,
                    icon: "fa fa-bell swing animated"
                });
                flag = false;
            }

            if (flag) {
                $.SmartMessageBox({
                    title: '<i class="fa fa-floppy-o fa-lg txt-color-blue"></i> @Resources.Language.Add_Asset_Type?',
                    content: "@Resources.Language.Do_You_Want_To_Add " + description + " (" + model + "). @Resources.Language.Continue?",
                    buttons: '[@Resources.Language.No][@Resources.Language.Yes]'
                }, function (ButtonPressed) {

                    if (ButtonPressed === "@Resources.Language.Yes") {
                        var token = $("input[name='__RequestVerificationToken']").val();

                        var data = {
                            description: description,
                            manufacturer: manufacturer,
                            model: model,
                            manualUrl: manualURL,
                            pictureId: assetPic,
                            assetClassId: 0,
                            fixingpoints: fixingpoints,
                            __RequestVerificationToken: token
                        };
                        //URL For Call
                        var url = "insertUpdateAssetClass";

                        $.ajax({
                            url: url,
                            data: data,
                            type: "POST",
                            dataType: "json",
                            success: function (json) {
                                $.smallBox({
                                    title: "@Resources.Language.Asset_Type_Created.",
                                    content: json.description,
                                    color: "#5384AF",
                                    timeout: 4000,
                                    icon: "fa fa-thumbs-up"
                                });
                                $('#adbloader3').fadeOut(300);
                                document.location = "../../AssetClass/EditAssetClass/" + json.assetClassId;
                            },
                            error: function (err) {
                                $.smallBox({
                                    title: "Error Adding the Asset Class",
                                    content: err.responseText,
                                    color: "#f51414",
                                    timeout: 5000,
                                    icon: "fa fa-bell swing animated"
                                });
                                $('#adbloader3').fadeOut(300);
                            }
                        });
                    }
                    if (ButtonPressed === "@Resources.Language.No") {
                        $('#adbloader3').fadeOut(300);
                    }
                });
            } else {
                $('#adbloader3').fadeOut(300);
            }
        }
</script>
}

