@if (ViewBag.error != "")
{
    <div class="alert alert-danger fade in">
        <button class="close" data-dismiss="alert">
            ×
        </button>
        <i class="fa-fw fa fa-times"></i>
        <strong>Error!</strong> @ViewBag.error
    </div>
}

<style>
    .select2-hidden-accessible{
        display: none;
    }
</style>
<div id="content">
    <div class="row ">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-th"></i>
                Asset Types <span>
                    >
                    Edit Asset Type
                </span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <form id="checkout-form" class="smart-form" novalidate="novalidate">

                <fieldset>
                    <div class="row">
                        <section class="col col-6">
                            <label>Asset Description</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-pencil-square-o"></i>
                                <input type="text" name="description" id="description" placeholder="Description" class="invalid" value="@ViewBag.description">
                            </label>

                        </section>
                        <section class="col col-6">
                            <label>Manufacturer</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-industry"></i>
                                <input type="text" name="manufacturer" id="manufacturer" placeholder="Manufacturer" class="invalid" value="@ViewBag.manufacturer">
                            </label>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label>Model</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-cube"></i>
                                <input type="text" name="model" id="model" placeholder="Model" class="invalid" value="@ViewBag.model">
                            </label>
                        </section>

                        <section class="col col-6">
                            <label>Web Reference</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-globe"></i>
                                <input type="url" name="manualUrl" id="manualUrl" placeholder="Manual Reference" class="invalid" value="@ViewBag.manualURL">
                            </label>
                            <div class="note">
                                <strong>Note: </strong> This is a URL that points to a reference for the asset
                            </div>
                        </section>
                    </div>

                    <div class="row">
                        <section class="col col-6">
                            <label>Fixing Points</label>
                            <label class="input">
                                <i class="icon-prepend fa fa-wrench"></i>
                                <input type="text" name="fixingpoints" id="fixingpoints" placeholder="Fixing Points" class="invalid" value="@ViewBag.fixingpoints">
                            </label>
                        </section>

                        <section class="col col-6">
                            <label>Asset Picture</label>
                            <div id="assetPic" class="dd-container" style="display: none;"></div>
                            <img src="~/content/img/adb_img/adb_loader.gif" id="adbloader" style="zoom: 0.5;"/>
                            <div class="note">
                                <strong>Hint: </strong> You can load up additional images into the library.
                            </div>

                        </section>
                    </div>
                </fieldset>
            </form>



            <hr />
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h2 class="page-title"><i class="fa fa-wrench"></i> Maintenance Tasks</h2>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align-right">
                    <button id="addTaskBtn" class="btn btn-default page-title"><i class="fa fa-plus"></i> Add Task</button>
                </div>
            </div>

            <table id="dt_maintenanceTasks" class="table table-striped table-bordered table-hover" width="100%">
                <thead>
                    <tr>
                        <th data-class="expand"><i class="fa fa-fw fa-wrench txt-color-blue hidden-md hidden-sm hidden-xs"></i> Maintenance Task</th>
                        <th data-class="expand"><i class="fa fa-fw fa-history txt-color-blue hidden-md hidden-sm hidden-xs"></i> Frequency</th>
                        <th data-class="expand"><i class="fa fa-fw fa-eye txt-color-blue hidden-md hidden-sm hidden-xs"></i> Validation</th>
                        <th><i class="fa fa-fw fa-cogs txt-color-blue hidden-md hidden-sm hidden-xs"></i> Options</th>
                    </tr>
                </thead>
                <tbody></tbody>

            </table>
            <img id="adbloader4" src="~/content/img/adb_img/adb_loader.gif" />
            <hr />
            <form class="smart-form">
                <footer>
                    <a class="btn btn-danger" id="backBtn"><i class="fa fa-arrow-left"></i> Go Back</a>
                    <a id="createBtn" class="btn btn-success"><i class="fa fa-pencil-square-o"></i> Edit Asset Type</a>
                </footer>
            </form>
            <div class="row">
                <div class="col-md-12 text-align-right">
                    <img src="~/content/img/adb_img/adb_loader.gif" id="adbloader3" style="zoom:0.7; display:none;" />
                </div>
            </div>

        </div>
    </div>

    <!--Modal for Maintenance Task-->
    <div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="techModalLabel"><i class="fa fa-wrench txt-color-blueDark"></i> Add Maintenance Task</h4>
                </div>
                <div class="modal-body">
                    <form class="smart-form">
                        <div class="row">
                            <fieldset>
                                <div class="col-11">
                                    <div class="form-group">
                                        <label>Select the Task</label>
                                        <select multiple style="width:100%" class="select2" id="taskSelect"></select><i></i>
                                    </div><br />

                                    <hr /><br />

                                    <div class="form-group">
                                        <label id="frequencyLbl"><i class="fa fa-history"></i> Maintenance Frequency (90)</label>
                                        <img src="~/Content/img/adb_img/adb_loader.GIF" id="adbloader2" style="zoom:0.5; display:none;" />
                                        <input type="text" class="slider slider-primary" id="frequencySlider"
                                               data-slider-orientation="horizontal"
                                               data-slider-step="15"
                                               data-slider-min="15"
                                               data-slider-max="740"
                                               data-slider-value="90"
                                               data-slider-selection="before"
                                               data-slider-handle="round"
                                               data-slider-tooltip="show" />

                                        <div class="note">
                                            <strong>Hint: </strong> This is the maintenance frequency in days.
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <img src="~/Content/img/adb_img/adb_loader_tr.gif" id="modalLoader" style="height:20px; display:none;" />
                    <button class="btn btn-primary" onclick="addNewTask();"><i class="fa fa-plus"></i> Add Task</button>
                    <button class="btn btn-danger" onclick="$('#taskModal').modal('hide');"><i class="fa fa-times"></i> Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section pagespecific{
    <script src="~/scripts/plugin/ddslick/jquery.ddslick.min.js"></script>

    <script type="text/javascript">
    //Global variables
    var $freqSlider = $('#frequencySlider');
    var frequencyVal = 90;
    var pictureId = @ViewBag.picture;

        $(document).on('slide', '#frequencySlider', function(){
            frequencyVal = $('#frequencySlider').val();
            $('#frequencyLbl').html('<i class="fa fa-history"></i> Maintenance Frequency (' + frequencyVal + ')')
        });

    function addNewTask()
    {
        $('#modalLoader').fadeIn(300);
        var allTasks = $('#taskSelect').val();
        var assetClassId = window.location.pathname.toString().split("/",5)[3];
        $.each(allTasks, function(i,v){
            var maintenanceId = allTasks[i];
            var frequencyId = frequencyVal;
            var url = "../../assetclass/insertMaintenanceTask?assetClassId=" + assetClassId + "&maintenanceId=" + maintenanceId +"&frequencyId=" + frequencyId;

            $.ajax({
                url: url,
                data: $('<form>@Html.AntiForgeryToken()</form>').serialize(),
                type: "POST",
                dataType: "json",
                success: function (json) {
                    $('#taskModal').modal('hide');
                    getAssosiatedTasks();
                    $('#modalLoader').hide();
                },
                error: function (err) {
                    $.smallBox({
                        title: "Error Retrieving Tasks",
                        content: err.responseText,
                        color: "#f51414",
                        timeout: 5000,
                        icon: "fa fa-bell swing animated"
                    });
                    $('#modalLoader').hide();
                }
            });
        });
    }

    function getAssosiatedTasks()
    {
        $('#adbloader4').fadeIn(500);
        var assetClassId = window.location.pathname.toString().split("/",5)[3];
        $.ajax({
            url: "../../assetclass/getAssosiatedMaintenanceTasks?assetClassId=" + assetClassId,
            type: "POST",
            dataType: "json",
            success: function (json) {
                console.log(json);
                html = "";
                $.each(json, function(i,v){
                    html += '<tr><td>' + json[i].maintenanceTask + '</td><td>' + v.frequency + '</td><td>' + v.validation;

                    html += '</td><td><a href="#" onclick="removeAssosiatedTask(' + v.assetMaintenanceId + ')"><i class="fa fa-times txt-color-red"></i> Remove</a></td></tr>'
                });

                $('#dt_maintenanceTasks tbody').html(html);

                $('#adbloader4').fadeOut(500);
            },
            error: function (err) {
                $.smallBox({
                    title: "Error Retrieving Assosiated Tasks",
                    content: err.responseText,
                    color: "#f51414",
                    timeout: 5000,
                    icon: "fa fa-bell swing animated"
                });
                $('#adbloader4').fadeOut(500);
            }
        });
    }

    function removeAssosiatedTask(id)
    {
        $('#adbloader4').fadeIn(500);
        $.ajax({
            url: "../../assetclass/removeTaskAssosiation?assetMaintenanceId=" + id,
            type: "POST",
            dataType: "json",
            data: $('<form>@Html.AntiForgeryToken()</form>').serialize(),
            success: function (json) {
                $.smallBox({
                    title: "Assosiation Removed",
                    content: "Asset Class Assosiation with task removed",
                    color: "#5384AF",
                    timeout: 4000,
                    icon: "fa fa-thumbs-up"
                });
                getAssosiatedTasks()
                $('#adbloader4').fadeOut(500);
            },
            error: function (err) {
                $.smallBox({
                    title: "Error Retrieving Tasks",
                    content: err.responseText,
                    color: "#f51414",
                    timeout: 5000,
                    icon: "fa fa-bell swing animated"
                });
                $('#adbloader4').fadeOut(500);
            }
        });
    }

    function getAllMaintenanceTasks()
    {
        $.ajax({
            url: "../../assetclass/getAllMaintenanceTasks",
            type: "POST",
            dataType: "json",
            success: function (json) {
                var html = "";
                $.each(json, function (i, v) {
                    html = '<option value="' + v.i_maintenanceId + '">' + v.vc_description + '( ' + v.vc_validation + ' )</option>';
                    $('#optgrp_' + v.i_maintenanceCategoryId).append(html);
                });
            },
            error: function (err) {
                $.smallBox({
                    title: "Error Retrieving Tasks",
                    content: err.responseText,
                    color: "#f51414",
                    timeout: 5000,
                    icon: "fa fa-bell swing animated"
                });
            }
        });
    }

    $(document).ready(function () {

        //Catch Click event for task modal
        $(document).on('click', '#addTaskBtn', function () {
            $('#taskModal').modal('show');
        });

        getAssosiatedTasks();

        //Get All Tasks and Categories
        $.ajax({
            url: "../../assetclass/getAllMaintenanceCategories",
            type: "POST",
            dataType: "json",
            success: function (json) {
                var html = "";
                $.each(json, function (i, v) {
                    html += '<optgroup label="' + json[i].vc_maintenanceCategory + '" id="optgrp_' + json[i].i_maintenanceCategoryId + '"></optgroup>';
                });

                $('#taskSelect').html(html);
                getAllMaintenanceTasks();
            },
            error: function (err) {
                $.smallBox({
                    title: "Error Retrieving Categories",
                    content: err.responseText,
                    color: "#f51414",
                    timeout: 5000,
                    icon: "fa fa-bell swing animated"
                });
            }
        });

        //Get Available Pictures from Library
        $.ajax({
            url: "../../assetclass/getPictures",
            type: "POST",
            dataType: "json",
            success: function (json) {
                var index = -1;

                $.each(json, function(i,v){
                    if(v.value === pictureId)
                    {
                        index = i;
                    }
                });

                $('#assetPic').ddslick({
                    data: json,
                    width: 300,
                    height: 500,
                    imagePosition: "left",
                    selectText: "Select Picture",
                });

                $('#assetPic').ddslick('select', {index:index});

                $('#adbloader').fadeOut(500);
            },
            error: function (err) {
                $.smallBox({
                    title: "Error Retrieving Pictures",
                    content: err.responseText,
                    color: "#f51414",
                    timeout: 5000,
                    icon: "fa fa-bell swing animated"
                });
                $('#adbloader').fadeOut(300);
                $('#assetPic').fadeIn(500);
            }
        });

        //Listen for click event
        $('#createBtn').on('click', function () {
            createAssetClass();
        });

        //Listen for click event on back button
        $('#backBtn').on('click', function () {
            window.history.back();
        });
    });

    function createAssetClass(e)
    {
        $('#adbloader3').fadeIn(300);
        var flag = true;
        var assetPic = $('.dd-selected-value').val();
        var description = $('#description').val();
        var manufacturer = $('#manufacturer').val();
        var model = $('#model').val();
        var manualURL = $('#manualUrl').val();
        var fixingpoints = $('#fixingpoints').val();

        if (assetPic === "") {
            $.smallBox({
                title: "No Picture Selected",
                content: "Please select a picture",
                color: "#f51414",
                timeout: 5000,
                icon: "fa fa-bell swing animated"
            });
            flag = false;
        }

        if (description === "" && flag)
        {
            $.smallBox({
                title: "No Description",
                content: "Please enter a description",
                color: "#f51414",
                timeout: 5000,
                icon: "fa fa-bell swing animated"
            });
            flag = false;
        }

        if (manufacturer === "" && flag) {
            $.smallBox({
                title: "No Manufacturer",
                content: "Please enter a manufacturer",
                color: "#f51414",
                timeout: 5000,
                icon: "fa fa-bell swing animated"
            });
            flag = false;
        }

        if (model === "" && flag) {
            $.smallBox({
                title: "No Model",
                content: "Please enter a model",
                color: "#f51414",
                timeout: 5000,
                icon: "fa fa-bell swing animated"
            });
            flag = false;
        }

        if (flag) {
            $.SmartMessageBox({
                title: '<i class="fa fa-pencil-square-o fa-lg txt-color-blue"></i> Edit Asset Class?',
                content: "Do you want to edit " + description + " (" + model + "). Continue?",
                buttons: '[No][Yes]'
            }, function (ButtonPressed) {

                if (ButtonPressed === "Yes") {
                    var token = $("input[name='__RequestVerificationToken']").val();
                    var data = {
                        description: description,
                        manufacturer: manufacturer,
                        model: model,
                        manualUrl: manualURL,
                        pictureId: assetPic,
                        fixingpoints: fixingpoints,
                        assetClassId: @ViewBag.assetClassId,
                        __RequestVerificationToken: token
                    };

                    var url = "../../assetclass/insertUpdateAssetClass";
                    $.ajax({
                        url: url,
                        data: data,
                        type: "POST",
                        dataType: "json",
                        success: function (json) {
                            $.smallBox({
                                title: "Asset Class was edited.",
                                content: json,
                                color: "#5384AF",
                                timeout: 4000,
                                icon: "fa fa-thumbs-up"
                            });
                            $('#adbloader3').fadeOut(300);
                        },
                        error: function (err) {
                            $.smallBox({
                                title: "Error Editing the Asset Class",
                                content: err.responseText,
                                color: "#f51414",
                                timeout: 5000,
                                icon: "fa fa-bell swing animated"
                            });
                            $('#adbloader3').fadeOut(300);
                        }
                    });
                }
                if (ButtonPressed === "No") {
                    $('#adbloader3').fadeOut(300);
                }
            });
        } else {
            $('#adbloader3').fadeOut(300);
        }
    }
    </script>
}