<!-- MAIN CONTENT -->
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span>> My Dashboard</span></h1>
        </div>
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
            <ul id="sparks" class="">
                <li class="sparks-info">
                    <h5> Number of Assets <span class="txt-color-blue"><i class="fa fa-lightbulb-o"></i> @ViewBag.NumberAssets</span></h5>
                    <div class="sparkline txt-color-blue hidden-mobile hidden-md hidden-sm">
                        @ViewBag.AssetInit
                    </div>
                </li>
                <li class="sparks-info">
                    <h5> Loaded Users <span class="txt-color-purple"><i class="fa fa-users"></i> @ViewBag.NumberUsers</span></h5>
                </li>
                <li class="sparks-info">
                    <h5> Active Shifts <span class="txt-color-greenDark"><i class="fa fa-calendar"></i> @ViewBag.NumberActiveShifts</span></h5>
                    <div class="sparkline txt-color-greenDark hidden-mobile hidden-md hidden-sm">
                        @ViewBag.CompletedShifts
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <article class="col-sm-12">
                <!-- new widget -->
                <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                        <h2>AirSide&trade; Activity (Last 30 days)</h2>
                        <ul class="nav nav-tabs pull-right in" id="myTab">
                            <li class="active">
                                <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Live Stats</span></a>
                            </li>
                        </ul>
                    </header>
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                           
                        </div>
                        <!-- end widget edit box -->
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    @{Html.RenderPartial("_ActivityChart");}
                                    <div class="show-stat-microcharts">
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            <div class="easy-pie-chart txt-color-green" data-percent="@ViewBag.completedMaint" data-pie-size="50">
                                                <span class="percent percent-sign">@ViewBag.completedMaint</span>
                                            </div>
                                            <span class="easy-pie-title"> Updated </span>
                                            <ul class="smaller-stat hidden-sm pull-right">
                                                <li>
                                                    <span class="label bg-color-green"> @{ double numberAssets = double.Parse(ViewBag.totalTasks) * (double.Parse(ViewBag.completedMaint) / 100); } @Math.Round(numberAssets,0) </span>
                                                </li>
                                                <li>
                                                    <span class="label bg-color-green"> @ViewBag.totalTasks</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            <div class="easy-pie-chart text-warning" data-percent="@ViewBag.midMaint" data-pie-size="50">
                                                <span class="percent percent-sign">@ViewBag.midMaint</span>
                                            </div>
                                            <span class="easy-pie-title"> Mid Cycle </span>
                                            <ul class="smaller-stat hidden-sm pull-right">
                                                <li>
                                                    <span class="label bg-color-yellow"> @{ numberAssets = double.Parse(ViewBag.totalTasks) * (double.Parse(ViewBag.midMaint) / 100); } @Math.Round(numberAssets, 0) </span>
                                                </li>
                                                <li>
                                                    <span class="label bg-color-yellow"> @ViewBag.totalTasks</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            <div class="easy-pie-chart txt-color-pink" data-percent="@ViewBag.almostMaint" data-pie-size="50">
                                                <span class="percent percent-sign">@ViewBag.almostMaint</span>
                                            </div>
                                            <span class="easy-pie-title"> Almost Due </span>
                                            <ul class="smaller-stat hidden-sm pull-right">
                                                <li>
                                                    <span class="label bg-color-pink"> @{ numberAssets = double.Parse(ViewBag.totalTasks) * (double.Parse(ViewBag.almostMaint) / 100); } @Math.Round(numberAssets, 0) </span>
                                                </li>
                                                <li>
                                                    <span class="label bg-color-pink"> @ViewBag.totalTasks</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                            <div class="easy-pie-chart txt-color-red" data-percent="@ViewBag.dueAssets" data-pie-size="50">
                                                <span class="percent percent-sign">@ViewBag.dueAssets</span>
                                            </div>
                                            <span class="easy-pie-title"> Over Due </span>
                                            <ul class="smaller-stat hidden-sm pull-right">
                                                <li>
                                                    <span class="label bg-color-red"> @{ numberAssets = double.Parse(ViewBag.totalTasks) * (double.Parse(ViewBag.dueAssets) / 100); } @Math.Round(numberAssets, 0) </span>
                                                </li>
                                                <li>
                                                    <span class="label bg-color-red"> @ViewBag.totalTasks</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- end s1 tab pane -->
                            </div>
                            <!-- end content -->
                        </div>
                    </div>
                    <!-- end widget div -->
                </div>
                <!-- end widget -->
            </article>
        </div>
        <!-- end row -->
        <!-- row -->
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- new widget -->
                <!-- end widget -->
                <!-- new widget -->
                    @{Html.RenderPartial("_CalendarView");}
                <!-- end widget -->
            </article>
            <article class="col-sm-12 col-md-12 col-lg-6">
                <!-- new widget -->
                    @{Html.RenderPartial("_MapView");}
                <!-- end widget -->

                <!-- ToDo Widget -->
                    @{Html.RenderPartial("_ToDoView");}
                <!-- end ToDo Widget -->

            </article>
        </div>
        <!-- end row -->
    </section>
    <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
@section pagespecific {
<script src="~/scripts/plugin/date/date.js"></script>
<script src="~/Scripts/TypeScripts/Home/HomeHelper.js"></script>
    <script>
            $(document).ready(function () {
        
                //Init Map
                requestAllAssetData();

                //Init Calendar 
                requestAllActiveShifts();

               
                $(".js-status-update a").click(function () {
                    var selText = $(this).text();
                    var $this = $(this);
                    $this.parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
                    $this.parents('.dropdown-menu').find('li').removeClass('active');
                    $this.parent().addClass('active');
                });


                /*
                 * FULL CALENDAR JS
                 */

                if ($("#calendar").length) {
                    var date = new Date();
                    var d = date.getDate();
                    var m = date.getMonth();
                    var y = date.getFullYear();

                    var calendar = $('#calendar').fullCalendar({

                        editable: false,
                        draggable: false,
                        selectable: false,
                        selectHelper: false,
                        unselectAuto: false,
                        disableResizing: false,

                        header: {
                            left: 'title', //,today
                            center: 'prev, next, today',
                            right: 'month, agendaWeek, agenDay' //month, agendaDay,
                        },

                        select: function (start, end, allDay) {
                            var title = prompt('Event Title:');
                            if (title) {
                                calendar.fullCalendar('renderEvent', {
                                    title: title,
                                    start: start,
                                    end: end,
                                    allDay: allDay
                                }, true // make the event "stick"
                                );
                            }
                            calendar.fullCalendar('unselect');
                        },

                        eventRender: function (event, element, icon) {
                            if (!event.description == "") {
                                element.find('.fc-event-title').append("<br/><span class='ultra-light'>" + event.description + "</span>");
                            }
                            if (!event.icon == "") {
                                element.find('.fc-event-title').append("<i class='air air-top-right fa " + event.icon + " '></i>");
                            }
                        }
                    });

                };

                /* hide default buttons */
                $('.fc-header-right, .fc-header-center').hide();

                // calendar prev
                $('#calendar-buttons #btn-prev').click(function () {
                    $('.fc-button-prev').click();
                    return false;
                });

                // calendar next
                $('#calendar-buttons #btn-next').click(function () {
                    $('.fc-button-next').click();
                    return false;
                });

                // calendar today
                $('#calendar-buttons #btn-today').click(function () {
                    $('.fc-button-today').click();
                    return false;
                });

                // calendar month
                $('#mt').click(function () {
                    $('#calendar').fullCalendar('changeView', 'month');
                });

                // calendar agenda week
                $('#ag').click(function () {
                    $('#calendar').fullCalendar('changeView', 'agendaWeek');
                });

                // calendar agenda day
                $('#td').click(function () {
                    $('#calendar').fullCalendar('changeView', 'agendaDay');
                });

            });

    </script>
}