@{Layout = null;}
@using ADB.AirSide.Encore.V1.Models
@model LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>ADB AirSide&trade;</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This web interface is the enterprise portal for the AirSide solution.">
    <meta name="author" content="BlackLynx (Pty) Ltd.">

    <!-- FAVICONS -->
    <link rel="shortcut icon" href="~/content/img/favicon/adb_icon.ico" type="image/x-icon">
    <link rel="icon" href="~/content/img/favicon/adb_icon.ico" type="image/x-icon">

    <!-- Stylesheets -->
    @Styles.Render("~/content/loginstyle")

    <!-- Font Awesome CDN -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    <!-- Google Fonts -->
    <link href='//fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style>
        html{
            background-color:#eaeaea;
        }

        #loginFooter{
            position:absolute;
            bottom:0;
            width:100%;
            text-align:center;
        }
    </style>
</head>
<body>

    <section id="authenty_preview">
        <section id="signin_main" class="authenty signin-main">
            <div class="section-content">
                <div class="wrap">
                    <div class="container">
                        <div class="form-wrap">
                            <div class="row">
                                <div id="form_1" data-animation="bounceIn">
                                    <div class="form-header">
                                        <img src="~/images/adbimages/ADB_Logo_100.png" class="adb_logo" />
                                    </div>
                                    <div class="form-main">

                                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", id = "form_1" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            <div class="form-group">
                                                <input type="text" id="Email" name="Email" class="form-control" placeholder="Email Address" required="required">
                                                <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" required="required">
                                                <input type="hidden" id="RememberMe" name="RememberMe" value="false"/>
                                                <span style="color:#999999;"><input type="checkbox" id="RememberMeChk" /> Remember Me?</span>
                                            </div>
                                            <input id="signIn_1" type="submit" class="btn btn-block" style="background-color:#22a1e4; color:#fff;" value="Sign In" />
                                        }
                                    </div>
                                    <div class="form-footer">
                                        <div class="row">
                                            <div class="col-xs-7">
                                                <i class="fa fa-unlock-alt"></i>
                                                <a href="#password_recovery" id="forgot_from_1">Forgot password?</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @if (!Html.ViewData.ModelState.IsValid)
                                {
                                    <div class="alert alert-danger" role="alert" data-animation="bounceIn">
                                        <span><b>Login Failed! </b> @Html.ValidationSummary(true)</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </section>

    <div id="loginFooter">
        &copy; @DateTime.Now.Year - ADB Airfield Solutions
    </div>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
   <script> if (!window.jQuery) { document.write('<script src="/scripts/libs/jquery-2.1.1.min.js"><\/script>'); } </script>

   @Scripts.Render("~/scripts/loginscripts")

</body>
</html>
