@using AirSide.ServerModules.Models
@model RegisterModel

<style>
    .validationMsg {
        color: red;
    }
</style>

<div id="content">
    <div class="row hidden-mobile">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-user"></i>
                @Resources.Language.System_Users <span>
                    >
                    @Resources.Language.Create_New_User
                </span>
            </h1>
        </div>
    </div>
    <hr />

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="alert alert-block alert-success">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <h4 class="alert-heading"><i class="fa fa-wrench"></i> @Resources.Language.Technician_Users!</h4>
                <p>
                    @Resources.Language.When_loading_Technician
                </p>
            </div>
            @using (Html.BeginForm("Register", "Users", FormMethod.Post, new { @class = "form-horizontal smart-form", @role = "form" }))
            {
                @Html.AntiForgeryToken()

                if (!Html.ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-error">
                        @Html.ValidationSummary()
                    </div>
                }

                <div class="field-set">
                    <section>
                        <label class="label" for="FirstName"> @Resources.Language.First_Name </label>

                        <label class="input">
                            <i class="icon-prepend fa fa-user"></i>
                            <input type="text" id="FirstName" name="FirstName" placeholder="@Resources.Language.First_Name" />
                        </label>
                    </section>
                </div>

                <div class="field-set">
                    <section>
                        <label class="label" for="LastName"> @Resources.Language.Last_Name </label>

                        <label class="input">
                            <i class="icon-prepend fa fa-user"></i>
                            <input type="text" id="LastName" name="LastName" placeholder="@Resources.Language.Last_Name" />
                        </label>
                    </section>
                </div>

                <input type="hidden" id="UserName" name="UserName" placeholder="Username" />

                <div class="field-set">
                    <section>
                        <label class="label" for="EmailAddress"> @Resources.Language.Email_Address </label>

                        <label class="input">
                            <i class="icon-prepend fa fa-envelope-o"></i>
                            <input type="email" id="EmailAddress" name="EmailAddress" placeholder="@Resources.Language.Email_Address" />
                        </label>
                    </section>
                </div>

                <div class="field-set">
                    <section>
                        <label class="label" for="Password"> @Resources.Language.Password </label>

                        <label class="input">
                            <i class="icon-prepend fa fa-lock"></i>
                            <input type="password" id="Password" name="Password" placeholder="@Resources.Language.Password" />
                        </label>
                    </section>
                </div>

                <div class="field-set">
                    <section>
                        <label class="label" for="ConfirmPassword"> @Resources.Language.Confirm_Password </label>

                        <label class="input">
                            <i class="icon-prepend fa fa-lock"></i>
                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="@Resources.Language.Confirm_Password" />
                        </label>
                    </section>
                </div>

                <div class="field-set">
                    <section>
                        <label class="label" for="accessLevel"> @Resources.Language.Access_Level </label>

                        <label class="select">
                            @Html.DropDownList("accessLevel", null, Resources.Language.Select_Access_Level)
                            <i></i>
                            <div class="note">
                                <strong>@Resources.Language.Note:</strong> @Resources.Language.When_loading_Technician
                            </div>
                        </label>
                    </section>

                </div>

                <div class="field-set">
                    <section>
                        @Html.LabelFor(m => m.i_airPortId, new { @class = "label" })

                        <label class="select">
                            @Html.DropDownList("i_airPortId", null, Resources.Language.Select_An_Airport)
                            <i></i>
                        </label>
                    </section>
                </div>

                <footer>
                    <input type="submit" value="@Resources.Language.Register" class="btn btn-primary" />
                </footer>

            }
        </div>
    </div>
</div>

@section pagespecific{
    <script type="text/javascript">
        $(document).ready(function () {
            $(document).on('change', '#EmailAddress', function () {
                $('#UserName').val($(this).val());
            });
        });
    </script>
}