<div class="modal fade" id="photometricFilterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-sun-o txt-color-red fa-2x"></i> @Resources.Language.Photometric</h4>
            </div>
            <div class="modal-body">
                <form class="smart-form">
                    <div class="row">
                        <section class="col col-10">
                            <label class="label">
                                @Resources.Language.Available_Dates
                            </label>
                            <label class="select">
                                @Html.DropDownList("photmetricDates", null, String.Empty)<i></i>
                            </label>
                            <div class="note"><strong><i class="fa fa-hand-o-right"></i> @Resources.Language.Note</strong> @Resources.Language.Note_Photometric</div>
                        </section>
                    </div>

                    <hr /><br />
                    <div class="row">
                        <section class="col col-11">
                            <label class="checkbox">
                                <input id="failedChk" type="checkbox" name="checkbox">
                                <i></i>@Resources.Language.Only_show_faulty_lights
                            </label>
                            <div class="note"><strong><i class="fa fa-hand-o-right"></i> @Resources.Language.Note</strong> @Resources.Language.Note_Failed_Lights</div>
                        </section>
                    </div>
                    <div class="row">
                        <section class="col col-11">
                            <img src="~/Content/img/adb_img/adb_loader_tr.gif" id="photoLoader" style="height:15px; display:none;" />
                        </section>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" style="float:right" id="photoFilterBtn">@Resources.Language.Apply_Filter</button>
            </div>
        </div>
    </div>
</div>
