@using AirSide.ServerModules.Models
<!--Modal for add Technician Shift-->
<div class="modal fade" id="shiftModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="techModalLabel"></h4>
            </div>
            <div class="modal-body">
                <form class="smart-form">
                    <div class="row">
                        <fieldset>
                            <section class="col col-6">
                                <label class="label">@Resources.Language.Select_a_date</label>
                                <label class="input">
                                    <i class="fa fa-calendar icon-prepend"></i>
                                    <input type="text" id="shiftdate" placeholder="Select a date" class="form-control datepicker" data-dateformat="dd/mm/yy" style="z-index:1051;">
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">@Resources.Language.Time_of_Shift</label>
                                <label class="input">
                                    <i class="fa fa-clock-o icon-prepend"></i>
                                    <input class="form-control" id="timepicker" type="text" placeholder="Select time" style="background:#fff;">
                                </label>
                            </section>
                        </fieldset>
                    </div>
                    <div class="row">
                        <fieldset>
                            <section class="col col-6">
                                <label class="label">@Resources.Language.Technician_Group</label>
                                <label class="select">
                                    @Html.DropDownList("techgroups")<i></i>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">@Resources.Language.Maintenance_Tasks</label>
                                <label class="select">
                                    <select id="shiftTasks">
                                        @{ var i = 0;}
                                        @foreach (var prod in (List<as_maintenanceProfile>) ViewData["maintenanceTasks"])
                                        {
                                            if (i == 0)
                                            {
                                                <option selected="selected" value="@prod.i_maintenanceId">@prod.vc_description</option>
                                            }
                                            else
                                            {
                                                <option value="@prod.i_maintenanceId">@prod.vc_description</option>
                                            }

                                            i++;
                                        }
                                    </select><i></i>
                                </label>
                                
                            </section>
                        </fieldset>
                    </div>
                    <div class="row">
                        <fieldset>
                            <section class="col col-6">
                                <label class="label">@Resources.Language.Work_Permit_Number</label>
                                <label class="input">
                                    <i class="fa fa-road icon-prepend"></i>
                                    <input class="form-control" id="workpermitTxt" type="text" placeholder="Enter a Work Permit">
                                </label>
                                </section>
                            <section class="col col-6">
                                <label class="label">@Resources.Language.External_Reference</label>
                                <label class="input">
                                    <i class="fa fa-magic icon-prepend"></i>
                                    <input class="form-control" id="externalRefTxt" type="text" placeholder="Enter an External Reference">
                                </label>
                            </section>
                        </fieldset>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <img src="~/Content/img/adb_img/adb_loader_tr.gif" id="shiftLoader" style="height:20px; display:none;" />
                <button class="btn btn-primary" id="shift_create_btn"><i class="fa fa-plus"></i> @Resources.Language.Add_Shift</button>
                <button class="btn btn-danger" onclick="$('#shiftModal').modal('hide');"><i class="fa fa-times"></i> @Resources.Language.Cancel</button>
            </div>
        </div>
    </div>
</div>

