<div class="modal fade" id="visualSurveyFilterModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title"><i class="fa fa-eye txt-color-yellow fa-2x"></i> Visual Surveyor&trade;</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">
                        <label>@Resources.Language.Select_a_date_range</label>
                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="input-group" style="margin-right:10px;">
                                <input class="form-control from" type="text" placeholder="@Resources.Language.From">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">

                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control to" type="text" placeholder="@Resources.Language.To">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 hidden-sm" style=" text-align: center;">
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(1)">@Resources.Language.This_Week</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(2)">@Resources.Language.Last_Week</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(3)">@Resources.Language.This_Month</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(4)">@Resources.Language.Last_Month</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(5)">@Resources.Language.This_Year</a>
                        <a href="#" class="btn btn-xs btn-info dateselect" onclick="setDateRange(6)">@Resources.Language.Last_Year</a>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-12">
                        <form class="smart-form">
                            <label class="label">
                                @Resources.Language.Filter_according_to
                            </label>
                            <label class="checkbox">
                                <input id="voiceChk" type="checkbox" name="checkbox">
                                <i></i>@Resources.Language.Voice_Memos
                            </label>
                            <label class="checkbox">
                                <input id="imageChk" type="checkbox" name="checkbox">
                                <i></i>@Resources.Language.Images_Taken
                            </label>
                            <label class="checkbox">
                                <input id="textChk" type="checkbox" name="checkbox">
                                <i></i>@Resources.Language.Text_Notes
                            </label>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <section class="col col-11">
                        <img src="~/Content/img/adb_img/adb_loader_tr.gif" id="surveyorLoader" style="height:15px; display:none;" />
                    </section>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" id="surveyorFilterBtn">@Resources.Language.Apply_Filter</button>
                <button class="btn btn-sm btn-danger" id="faultyFilterBtn"><i class="fa fa-exclamation-triangle"></i> @Resources.Language.Show_All_Faulty</button>
            </div>
        </div>
    </div>
</div>