@using AirSide.ServerModules.Models
<!-- MAIN CONTENT -->
<style type="text/css">
    #mapTopMenuBack {
        background-color: #000;
        opacity: 0.7;
        height: 70px;
        position: absolute;
        z-index: 3;
    }

    #mapMenuItems {
        position: absolute;
        z-index: 4;
        height: 70px;
        line-height: 64px;
        margin-left: 10px;
    }
</style>

<div id="content">
    <div id="mapTopMenuBack">
        <br />
        <img src="~/Content/img/adb_img/adb_loader_tr.GIF" id="mapLoader" style="zoom:0.3;"/>
    </div>

    <div id="mapMenuItems" style="display:none;">
        @* Asset Filter Buttons *@
        <button type="button" class="btn btn-success assetFilterBtn hidden-md hidden-lg">
            <i class="fa fa-lightbulb-o"></i>
        </button>
        <button type="button" class="btn btn-labeled btn-success hidden-sm hidden-xs assetFilterBtn">
            <span class="btn-label">
                <i class="fa fa-lightbulb-o"></i>
            </span>
            @Resources.Language.Assets
        </button>

        @* Area Filter Buttons *@
        <button type="button" class="btn btn-primary hidden-md hidden-lg areaFilterBtn">
            <i class="fa fa-road "></i>
        </button>
        <button type="button" class="btn btn-labeled btn-primary hidden-sm hidden-xs areaFilterBtn">
            <span class="btn-label">
                <i class="fa fa-road"></i>
            </span>
            @Resources.Language.Areas
        </button>

        @* Visual Surveyor Buttons *@
        <button type="button" class="btn btn-warning hidden-md hidden-lg surveyorBtn">
            <i class="fa fa-eye"></i>
        </button>
        <button type="button" class="btn btn-labeled btn-warning hidden-sm hidden-xs surveyorBtn">
            <span class="btn-label">
                <i class="fa fa-eye "></i>
            </span>
            Visual Surveyor&trade;
        </button>

        @* Photometric Buttons *@
        <button type="button" class="btn btn-danger hidden-md hidden-lg photoBtn">
            <i class="fa fa-sun-o "></i>
        </button>
        <button type="button" class="btn btn-labeled btn-danger hidden-sm hidden-xs photoBtn">
            <span class="btn-label">
                <i class="fa fa-sun-o "></i>
            </span>
            @Resources.Language.Photometric
        </button>

        @* AutoCAD Buttons *@
        @*<button type="button" class="btn btn-info hidden-lg autoCadBtn">
            <i class="fa fa-picture-o "></i>
        </button>
        <button type="button" class="btn btn-labeled btn-info hidden-sm hidden-xs hidden-md autoCadBtn">
            <span class="btn-label">
                <i class="fa fa-picture-o "></i>
            </span>
            AutoCAD
        </button>*@

        @* Shifts Buttons *@
        <div class="btn-group  hidden-lg">
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-calendar "></i> <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" class="shift_rect_btn">@Resources.Language.Show_Hide_Selector</a></li>
                <li class="disabled createShift"><a href="javascript:void(0)" class="show_assets_btn">@Resources.Language.Create_Shift</a></li>
            </ul>
        </div>
        <div class="btn-group hidden-sm hidden-xs hidden-md">
            <button type="button" class="btn btn-labeled btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="btn-label">
                    <i class="fa fa-calendar "></i>
                </span>
                @Resources.Language.Shifts <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" class="shift_rect_btn">@Resources.Language.Show_Hide_Selector</a></li>
                <li class="disabled createShift"><a href="javascript:void(0)" class="show_assets_btn">@Resources.Language.Create_Shift</a></li>
            </ul>
        </div>

        @*Maintenance Task Buttons*@
        <div class="btn-group  hidden-lg">
            <button type="button" class="btn btn-primary dropdown-toggle maintenanceBtn" data-toggle="dropdown">
                <i class="fa fa-wrench"></i> <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
                @foreach (var prod in (List<as_maintenanceProfile>)ViewData["maintenanceTasks"])
                {
                    <li><a href="#" onclick="setTask(@prod.i_maintenanceId, '@prod.vc_description');">@prod.vc_description</a></li>
                }
            </ul>

        </div>
        <div class="btn-group hidden-sm hidden-xs hidden-md">
            <button type="button" class="btn btn-labeled btn-primary dropdown-toggle maintenanceBtn" data-toggle="dropdown">
                <span class="btn-label">
                    <i class="fa fa-wrench "></i>
                </span>
                <span id="taskLabel">@ViewBag.taskDesc</span> <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
                @foreach (var prod in (List<as_maintenanceProfile>)ViewData["maintenanceTasks"])
                {
                    <li><a href="#" onclick="setTask(@prod.i_maintenanceId, '@prod.vc_description');">@prod.vc_description</a></li>
                }
            </ul>
        </div>

        @* Map Type Buttons *@
        <div class="btn-group  hidden-lg">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-map-marker"></i> <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="changeMap('Hybrid');">Hybrid</a></li>
                <li><a href="#" onclick="changeMap('Satellite');">Satellite</a></li>
                <li><a href="#" onclick="changeMap('Roadmap');">Road Map</a></li>
                <li><a href="#" onclick="changeMap('Terrain');">Terrain</a></li>
            </ul>
        </div>
        <div class="btn-group hidden-sm hidden-xs hidden-md">
            <button type="button" class="btn btn-labeled btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="btn-label">
                    <i class="fa fa-map-marker "></i>
                </span>
                @Resources.Language.Map_Type <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#" onclick="changeMap('Hybrid');">@Resources.Language.Hybrid</a></li>
                <li><a href="#" onclick="changeMap('Satellite');">@Resources.Language.Satellite</a></li>
                <li><a href="#" onclick="changeMap('Roadmap');">@Resources.Language.Road_Map</a></li>
                <li><a href="#" onclick="changeMap('Terrain');">@Resources.Language.Terrain</a></li>
            </ul>
        </div>
    </div>

    <div id="map-canvas" class="google_maps" style="height:500px; width:100%;">
        &nbsp;
    </div>
</div>

@{
    //Render Partials for all modal windows
    Html.RenderPartial("_AssetFilter");
    Html.RenderPartial("_AreaFilter");
    Html.RenderPartial("_VisualSurveyor");
    Html.RenderPartial("_Photometric");
    Html.RenderPartial("_ShiftCreate");
}


@{
    var src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyClaJpRNTFn0RCIn16khYbhiCxChMdzzyA&libraries=visualization&language=";
    if (Request.Cookies["_culture"] != null)
    {
        var culture = Request.Cookies["_culture"].Value;
        src += culture;
    }
    else
    {
        src += "en";
    }
}

@section pagespecific{
    <script type="text/javascript" src="@src"></script>
    <script src="~/scripts/plugin/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Scripts/plugin/googlemaps/MarkerCluster.min.js"></script>
    <script src="~/Scripts/plugin/date-time/moment.min.js"></script>
    <script src="~/scripts/plugin/date/date.js"></script>

    <script src="~/Scripts/TypeScripts/Components/ComponentsHelper.js"></script>
    <script src="~/Scripts/TypeScripts/Map/Services/AirportMap.Service.min.js"></script>
    <script src="~/Scripts/TypeScripts/Map/Controllers/AirportMap.Controller.min.js"></script>
    <script src="~/Scripts/TypeScripts/Map/Views/AirportMap.min.js"></script>
    <script src="~/Scripts/TypeScripts/Map/Controllers/AirportMap.Language.min.js"></script>

    <script>
        $(document).ready(function() {
            //Populate Language Class
            var language = new AirSide.Encore.AirportMap.Language();
            language.almostDue = '@Resources.Language.Almost_Due';
            language.assetType = '@Resources.Language.Asset_Types';
            language.history = '@Resources.Language.History';
            language.lightFaulty = '@Resources.Language.Light_Faulty';
            language.maintenanceStatus = '@Resources.Language.Maintenance_Status';
            language.maintenanceTask = '@Resources.Language.Maintenance_Task';
            language.manual = '@Resources.Language.Manual';
            language.midCycle = '@Resources.Language.Mid_Cycle';
            language.multiAsset = '@Resources.Language.Multi_Asset';
            language.next = '@Resources.Language.Next';
            language.noData = '@Resources.Language.No_Data';
            language.overDue = '@Resources.Language.Over_Due';
            language.previous = '@Resources.Language.Previous';
            language.updated = '@Resources.Language.Recently_Updated';
            language.photometricData = '@Resources.Language.Photometric_Data_For';
            language.imagesTaken = '@Resources.Language.Images_Taken';
            language.voiceMemos = '@Resources.Language.Voice_Memos';
            language.createNewShift = '@Resources.Language.Create_new_shift_for';
            language.noAssets = '@Resources.Language.No_Assets';
            language.selectAssets = '@Resources.Language.Select_Assets_For_Shift';
            language.shiftCreated = '@Resources.Language.Shift_Created';
            language.customShiftCreated = '@Resources.Language.Custom_Shift_Created';
            language.errorCustomShift = '@Resources.Language.Error_Custom_Shift';

            var controller = new AirSide.Encore.AirportMap.Controller(language);
            $(document).trigger('airportmap.init', [controller]);
        });

    </script>

    
}s