<div id="content">
    <div class="row ">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-cogs"></i>
                @Resources.Language.System_Settings <span>
                    >
                    @Resources.Language.About_AirSide&trade;
                </span>
            </h1>
        </div>
    </div>
    <hr />

    <div class="well padding-10">
        <div class="row">
            <div class="col-md-4">
                <img src="~/Images/adbimages/ADB_Safegate.png"/>
            </div>
            <div class="col-md-8">
                <h3><i class="fa fa-plane"></i> AirSide&trade; @Resources.Language.Asset_Management<br/>
                    <small>@Resources.Language.AGL_Asset_Solution</small>
                </h3>
                <p style="text-align: justify">
                    @Resources.Language.New_Era
                </p>
                <hr/>
                <h4><i class="fa fa-code-fork"></i> @Resources.Language.Version_Information</h4>
                <p>
                    <strong>@Resources.Language.Web_API: </strong>Ver. @ViewBag.Version<br/>
                    <strong>@Resources.Language.iOS_Application: </strong> Ver. 4.2.0001
                </p>
                <hr/>
                <h4><i class="fa fa-copyright"></i> @Resources.Language.Copyright</h4>
                <p>
                    @Resources.Language.Copyright &copy; ADB Airfield Solutions - @Resources.Language.All_Rights_Reserved<br/>
                    @Resources.Language.Unauthorized<br/>
                    @Resources.Language.Proprietry_Confidential, @DateTime.Now.Year
                </p>
            </div>
        </div>
    </div>
</div>
