@using AirSide.ServerModules.Models
<div id="content">
    <div class="row ">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-apple"></i>
                Development<span>
                    >
                    iOS Files
                </span>
            </h1>
        </div>
    </div>
    <!--Row-->
    <div class="row">
        <div class="col-md-12">
            <ul id="filesTabs" class="nav nav-tabs bordered">
                <li class="active">
                    <a href="#s1" data-toggle="tab"><i class="fa fa-fw fa-lg fa-files-o"></i> Available Files</a>
                </li>
                <li>
                    <a href="#s2" data-toggle="tab"><i class="fa fa-cloud-upload"></i> Upload File</a>
                </li>
            </ul>

            <div id="historyTabContent" class="tab-content padding-10">
                <div class="tab-pane fade in active" id="s1">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel-group smart-accordion-default" id="accordion">
                                <div class="panel panel-default">
                                    @{int i = 0; }
                                    @foreach (var prod in (List<as_iosImageProfile>)ViewData["iosImages"])
                                    {
                                        <div class="panel-heading">
                                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#imgid_@prod.i_iosImageId" @{if (i > 0) { <text> class="collapsed" </text>     }}> <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i> @prod.vc_description (@prod.vc_version) </a></h4>
                                        </div>
                                        <div id="imgid_@prod.i_iosImageId" class="panel-collapse collapse @{if (i == 0) { <text>in</text> }}">
                                            <div class="panel-body">
                                                <p>
                                                    <i class="fa fa-calendar txt-color-purple"></i> Date Published: <b>@prod.dt_dateTimeStamp.ToString("yyyy/MM/dd")</b> <br />
                                                    <i class="fa fa-save txt-color-orangeDark"></i> File Version: <b>@prod.vc_version</b> <br />
                                                    <i class="fa fa-cloud-download txt-color-blue"></i> Download File: <a href="~/ios/downloadFile?id=@prod.i_iosImageId" class=""> Download Here</a><br />
                                                    <i class="fa fa-file txt-color-teal"></i> Release Notes:<br />
                                                </p>
                                                <hr />
                                                <p>
                                                    @Html.Raw(prod.vc_releaseNotes.Replace("**br**", "<br/>"))
                                                </p>
                                            </div>
                                        </div>
                                                                                                            i++;
                                    }
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="tab-pane fade in" id="s2">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <form class="smart-form">
                                <fieldset>
                                    <section>
                                        <label class="label">Description</label>
                                        <label class="input state-disabled">
                                            <input type="text" class="input-sm" name="description" id="descriptionTxt">
                                        </label>
                                        <div class="note">
                                            <strong>Note:</strong> The file description used to identify this file.
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">Version</label>
                                        <label class="input state-disabled">
                                            <input type="text" class="input-sm" name="version" id="versionTxt">
                                        </label>
                                        <div class="note">
                                            <strong>Note:</strong> The file version to be uploaded.
                                        </div>
                                    </section>
                                    <section>
                                        <label class="label">Enter release notes here</label>
                                        <label class="textarea textarea-resizable">
                                            <textarea rows="20" class="custom-scroll" name="releaseNotesTxt" id="releaseNotesTxt"></textarea>
                                        </label>
                                        <div class="note">
                                            <strong>Note:</strong> This will be assosiated with the file for users to view.
                                        </div>
                                    </section>
                                </fieldset>
                            </form>
                            <hr />
                            <form class="dropzone" id="mydropzone"></form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!--End Row-->
@section pagespecific{
    <script src="~/scripts/plugin/dropzone/dropzone.min.js"></script>

    <script type="text/javascript">
        //Global Variables
        var responsiveHelper_dt_basic = null;
        var $assetClassTbl = $('#dt_assets');

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };

        var releaseFlag = false;

        //Functions
        function setDataTable() {
            $assetClassTbl.dataTable({
                "sDom": "<'dt-toolbar'<'col-xs-12 col-sm-6'f><'col-sm-6 col-xs-12 hidden-xs'l>r>" +
                    "t" +
                    "<'dt-toolbar-footer'<'col-sm-6 col-xs-12 hidden-xs'i><'col-xs-12 col-sm-6'p>>",
                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (responsiveHelper_dt_basic === null) {
                        responsiveHelper_dt_basic = new ResponsiveDatatablesHelper($assetClassTbl, breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_dt_basic.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_dt_basic.respond();
                }
            });
        }

        $(document).ready(function () {
            $(document).on('click', '#uploadBtn', function () {
                $('#releaseNotesModal').modal('show');
            });

            setDataTable();

            //Drop Zone Init
            var url = "uploadiOSFile";
            var myDropZone = new Dropzone("#mydropzone", {
                url: url,
                addRemoveLinks: true,
                dictDefaultMessage: '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (Or Click)</h4></span>',
                dictResponseError: 'Error uploading file!',
                maxFiles: 1,
                accept: function (file, done) {
                    var description = $('#descriptionTxt').val();
                    var version = $('#versionTxt').val();
                    var releaseNotes = $('#releaseNotesTxt').val();
                    releaseNotes = releaseNotes.replace(/(\r\n|\n|\r)/gm, "**br**");
                    if (description != null && version != null && releaseNotes != null) {
                        myDropZone.options.url = "uploadiOSFile?description=" + description + "&version=" + version + "&releaseNotes=" + releaseNotes;
                        done();
                    } else {
                        $.smallBox({
                            title: "Provide more information",
                            content: "Please provide more information",
                            color: "#ff0000",
                            timeout: 4000,
                            icon: "fa fa-times"
                        });
                        done("Not all the parameters was provided.");
                    }
                }
            });

            //Init DropZone
            Dropzone.autoDiscover = false;

            myDropZone.on("complete", function (file) {
                if (file.accepted) {
                    $.smallBox({
                        title: "File Uploaded",
                        content: "The file was uploaded.",
                        color: "#5384AF",
                        timeout: 4000,
                        icon: "fa fa-cloud-upload"
                    });
                    //myDropZone.removeAllFiles();
                    $('#fileUploadModal').modal('hide');
                }
            });
        });
    </script>
}
