    <!-- HEADER -->
<header id="header">
    <div id="logo-group">

        @if (Request.IsAuthenticated)
        {
            <!-- PLACE YOUR LOGO HERE -->
            <span id="newlogo"> <img src="~/Content/img/adb_img/adb_color_white.png" alt="ADB Airfield Solutions"> </span>
        }
        else
        {
            <!-- PLACE YOUR LOGO HERE -->
            <span id="newlogo"> <img src="~/Content/img/adb_img/adb_color.png" alt="ADB Airfield Solutions"> </span>
        }
        <!-- END LOGO PLACEHOLDER -->
        @if (Request.IsAuthenticated)
        {
            <span id="activity" class="activity-dropdown"> <i class="fa fa-bell animated swing"></i> <b class="badge" id="svTotal"> 0 </b> </span>

            <div class="ajax-dropdown">

                <!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
                <div class="btn-group btn-group-justified" data-toggle="buttons">
                    <label class="btn btn-default svCriticalBtn">
                        <input type="radio" name="activity" id="~/Surveyor/AlertBox?severityId=1">
                        @Resources.Language.Critical <b class="badge" id="svCritical"> 0 </b>
                    </label>
                    <label class="btn btn-default svMajorBtn">
                        <input type="radio" name="activity" id="~/Surveyor/AlertBox?severityId=2">
                        @Resources.Language.Major <b class="badge" id="svMajor"> 0 </b>
                    </label>
                    <label class="btn btn-default svMinorBtn">
                        <input type="radio" name="activity" id="~/Surveyor/AlertBox?severityId=3">
                        @Resources.Language.Minor <b class="badge" id="svMinor"> 0 </b>
                    </label>
                </div>

                <!-- notification content -->
                <div class="ajax-notifications custom-scroll">

                    <div class="alert alert-transparent">
                        <h4>@Resources.Language.Select_Category</h4>
                        @Resources.Language.Protect_Privacy
                    </div>

                    <i class="fa fa-lock fa-4x fa-border"></i>

                </div>
                <!-- end notification content -->
                <!-- footer: refresh area -->
                <span>@{
	                      var loadTxt = "<i class='fa fa-refresh fa-spin'></i> Loading... ";
                      }
                    @Resources.Language.Last_updated_on: <span id="lastUpdated">@DateTime.Now</span>
                    <button type="button" class="btn btn-xs btn-default pull-right" data-loading-text="@loadTxt">
                    </button>
                </span>
                <!-- end footer -->

            </div>
            <!-- END AJAX-DROPDOWN -->
        }
    </div>
    @if (Request.IsAuthenticated)
    {
    <!-- projects dropdown -->
        <div class="project-context hidden-xs">
            <span class="label">Surveyor&trade; @Resources.Language.Alerts</span>
        </div>
    <!-- end projects dropdown -->
    }
    <section id="top-right">
        @if (@Model is HelperResult)
        {
            @Model
        }
        else
        {
            <div class="pull-right">
                @Html.Partial("_TopRight")
            </div>
        }
    </section>
</header>
<!-- END HEADER -->